API_URL=https://api.qnaigc.com/v1
API_KEY=your-api-key-here
MODEL_NAME=deepseek/deepseek-v3.2-exp-thinking

HOST=0.0.0.0
PORT=8000

WTTR_API_URL=https://wttr.in

# 博查AI搜索API配置
BOCHA_API_URL=https://api.bocha.cn/v1/web-search
BOCHA_API_KEY=sk-05ee5e6c56614bb2a3f8eb263150f975